@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@400;700&display=swap");

span,
li,
strong,
div,
p {
  font-family: "Roboto", sans-serif !important;
}

@mixin ellipsis($lines: 1) {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  /* stylelint-disable-next-line order/properties-order */
  -webkit-line-clamp: $lines;
  /* stylelint-disable-next-line order/properties-order */
  -webkit-box-orient: vertical;
  white-space: initial;
}

$theme: green;

.news-page {
  background-color: #eaecef;
  .search-bar-wrap {
    background-color: white;
    .input-row {
      display: flex;
      padding: 8px 12px;

      .logo {
        width: 40px;
        height: 40px;
        color: $theme;
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .input-area {
        flex: 1;
        // height: 100%;
        margin-left: 6px;
        position: relative;

        input {
          height: 100%;
          font-size: 20px;
          line-height: 32px;
          color: #1e1e23;
          font-weight: 700;
        }
      }

      .x-button {
        background: url("https://ssl.pstatic.net/sstatic/search/mobile/img/sp_common_3175f98a.png");
        background-size: 460px 458px;
        width: 26px;
        height: 26px;
        background-position: -305px -74px;
        position: absolute;
        right: 6px;
        top: 6px;
      }

      .mic-button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      svg {
        font-size: 32px;
      }
    }
  }

  .menu-row {
    display: flex;
    padding: 0 15px;
    gap: 12px;
    border-top: 1px solid $theme;
    justify-content: space-between;

    span {
      font-size: 16px;
      line-height: 50px;
      font-weight: 700;
      text-align: center;
      letter-spacing: -0.3px;
    }

    span:nth-child(2) {
      color: $theme;
    }

    .more-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        transform: rotate(90deg);
        font-size: 26px;
        path {
          stroke: #a7a7a7;
        }
      }
    }
  }
}

.menu-option {
  margin-top: 9px;
  background-color: #f5f7f8;
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: space-between;

  .option-list {
    display: flex;

    span {
      font-size: 15.7px;
      padding: 0 11px;
      display: flex;
      align-items: center;

      &::before {
        width: 4px;
        height: 4px;
        content: "";
        display: block;
        background-color: #9e9e9e;
        border-radius: 50%;
        margin-right: 4px;
      }

      &:first-child::before {
        background-color: $theme;
      }
    }
  }

  .option {
    padding: 0 17px;
    border-left: 1px solid #e7e7e7;
    height: 100%;
    display: flex;
    align-items: center;
    .option-icon {
      background: url("https://ssl.pstatic.net/sstatic/search/mobile/img/sp_common_3175f98a.png");
      background-size: 460px 458px;
      width: 15px;
      height: 14px;
      background-position: -432px -169px;
      margin-right: 5px;
      vertical-align: -2px;
    }
    .text {
      font-size: 14.7px;
    }
  }
}

.naver-news-card {
  display: flex;
  flex-direction: column;
  padding: 15px 18px 18px;
  margin-top: 9px;
  background-color: white;
  &:visited {
    .title {
      color: #9941a1;
    }
  }
  .header {
    display: flex;
    align-items: center;
    position: relative;

    .logo {
      width: 24px;
      height: 24px;
      border: 1px solid #a7a7a7;
      border-radius: 50%;
      margin-right: 8px;
    }
    span {
      font-size: 15.75px;
      font-weight: 500;
    }
    .menu-icon {
      position: absolute;
      right: 0;
      top: 4px;
    }
  }

  .title {
    margin-top: 12px;
    font-size: 18.9px;
    font-weight: normal;
    line-height: 1.4rem;
  }

  .content-area {
    margin-top: 8px;
    display: flex;
    gap: 24px;
    align-items: flex-start;
    .content {
      @include ellipsis(4);
      font-size: 16.8px;
      word-break: break-all;
      line-height: 1.3em;
    }

    .chroma {
      width: 90px;
      height: 90px;
      flex-shrink: 0;
      background-color: #6afb46;
    }
  }
}

.news-list {
  > .naver-news-card {
    &:nth-child(4),
    &:nth-child(3),
    &:nth-child(2),
    &:nth-child(1) {
      .title {
        color: #9941a1;
      }
    }
  }
}

.news-1 {
  .top {
    .header {
      display: flex;
      padding: 4px 8px;
      align-items: center;
      justify-content: space-between;

      .menu {
        svg {
          width: 32px;
          height: 32px;
        }
        svg path {
          stroke: #2961d6;
        }
      }

      strong {
        font-size: 26px;
        font-weight: 700;
      }

      .search {
        svg {
          width: 24px;
          height: 24px;

          path {
            stroke: #2961d6;
          }
        }
      }
    }

    .navigation {
      display: flex;
      background-color: #2961d6;
      padding: 0 12px;
      // justify-content: space-between;
      gap: 12px;
      span {
        color: white;
        font-size: 16px;
        font-weight: 700;
        padding: 12px 0;
      }
      span:last-child {
        color: #d66538;
        border-bottom: 3px solid #ffff54;
      }
    }

    .breadcrumb {
      display: flex;
      font-size: 12px;
      align-items: center;
      padding: 8px 16px;
      gap: 12px;
      border-bottom: 1px solid #cfcfcf;

      span + span::before {
        width: 8px;
        height: 8px;
        content: ">";
        margin-right: 12px;
      }
    }
  }

  .contents {
    .title {
      margin-top: 12px;
      padding: 0 16px;
      display: block;
      font-size: 22px;
      color: #2961d6;
      font-weight: 700;
    }

    .lastpage-title {
      color: black;
    }

    .sub-title {
      padding: 0 16px;
      font-size: 14px;
      margin-top: 12px;
      font-weight: bold;
      letter-spacing: 1px;

      & + .sub-title {
        margin-top: 4px;
      }
    }

    .info-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      margin-top: 24px;
      padding-bottom: 4px;
      border-bottom: 1px solid #c5c3c3;
      .date {
        font-size: 12px;
        color: #6e6e6e;
      }

      .buttons {
        display: flex;
        gap: 8px;
        > div {
          padding: 4px;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #a7a7a7;
        }
      }
    }

    .content {
      padding: 0 16px;
      padding-top: 12px;
      padding-bottom: 20px;
      .chroma {
        width: calc(100% - 8px);
        margin: 0 auto;
        height: 240px;
        background-color: #6afb46;
      }

      .text {
        margin-top: 16px;

        p {
          font-size: 14px;
          line-height: 1.2em;
        }

        p + p {
          margin-top: 16px;
        }
      }
    }
  }
}

// 마지막 페이지 관련
.lastpage-news-title {
  font-weight: bold;
  font-size: 24px;
  padding: 5px 0;
}

.news-1 {
  .navigation2 {
    border-bottom: 1px solid rgb(242, 242, 242);
    border-top: 1px solid rgb(242, 242, 242);
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
    gap: 12px;
    span {
      font-size: 16px;
      font-weight: 700;
      padding: 12px 0;
    }
    .pink-span {
      color: rgb(216, 47, 138);
      border-bottom: 3px solid rgb(216, 47, 138);
    }
  }

  .search2 {
    svg {
      width: 24px;
      height: 24px;

      path {
        stroke: black;
      }
    }
  }
}
